[submodule "External/src/crossguid"]
	path = External/src/crossguid
	url = https://github.com/naiteluo/crossguid.git
[submodule "External/src/opengex"]
	path = External/src/opengex
	url = https://github.com/naiteluo/OpenGEX.git
